.navigationContainer {
  padding: 20px;
  background: #151515;
  display: flex;
  justify-content: space-between;
  color: #e3e3e3;
  .logo {

  }
  .filterContainer {
    width: 100%;
    padding: 0 20px;
    display: flex;
    & > div.filterItem {
      margin-right: 10px;
    }
  }
  .menu {

  }
}

.main {
  height: 100vh;
  padding: 20px;
}

.title {
  margin-bottom: 20px;
}